@font-face {
    font-family: RedHatText;
    src: url(../fonts/Red_Hat_Text/RedHatText-Regular.ttf);
}

@font-face {
    font-family: Rambla;
    src: url(../fonts/Rambla/Rambla-Regular.ttf);
}

/* HomePage */

body{
position: relative;
width: 1440px;
height: 2268px;
left: 200px;

/* background-image: url(/img/pexels-tom-swinnen-934718.jpg); */
background: #275970;
}
/* Rectangle 1 */

.upper{
position: absolute;
width: 1401px;
height: 961px;
left: 25px;
top: 18px;

background: #202C36;
border: 1px solid #000000;
box-sizing: border-box;
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 43px;
}
/* background img */
 
/* #back1::before{
position: absolute;
width: 1440px;
height: 2118px;
left: 3px;
top: -7px;

border: 1px solid #000000;
box-sizing: border-box;
filter: blur(10px);
}   */
/* Logo */

#logo{
    position: absolute;
    width: 124px;
    height: 122px;
    left: 62px;
    top: 102px;
    
    background: url(../img/back1.jpeg);
    border-radius: 57px;
}


/* HI, I’M PRINCE */

#title{
position: absolute;
width: 420.35px;
height: 72.83px;
left: 235px;
top: 100px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;

color: #FFFFFF;

transform: rotate(-0.81deg);
}

/* ABOUT */

#about-up{
position: absolute;
width: 68px;
height: 29px;
left: 1047px;
top: 80px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #F1DFDF;
text-decoration: none;
}


/* WEEKLIES */

#weeklies-up{
position: absolute;
width: 99px;
height: 29px;
left: 1146px;
top: 80px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #F0E5E5;
text-decoration: none;
}

/* CONTACT */

#contact-up{
position: absolute;
width: 91px;
height: 29px;
left: 1274px;
top: 80px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #F7F4F4;
text-decoration: none;
}

/* GitHub-Mark-Light-64px 1 */

#git-logo-up{
position: absolute;
width: 34.92px;
height: 35px;
left: 89px;
top: 264.11px;

background: url(GitHub-Mark-Light-64px.png);
transform: rotate(-0.18deg);
}

/* Discord-Logo-White 1 */

#discord-logo-up{
position: absolute;
width: 45.95px;
height: 38px;
left: 84px;
top: 312.11px;

background: url(Discord-Logo-White.png);
}

/* instagram 1 */

#insta-logo-up{
position: absolute;
width: 35px;
height: 30px;
left: 89px;
top: 358px;

background: #FFFBFB;
}

/* YT 1 */

#youtube-logo-up{
position: absolute;
width: 37px;
height: 30px;
left: 88px;
top: 399.11px;

background: url(YT.png);
}

/* I’m a Highschool student whose interest in Programming and Designing sparked 3 years ago with an introduction to Java and Web development. And then my journey was like a never ending adventure book, I got familiar with Java, Python, JavaScript, HTML and CSS in the process. It was not much later that I found about Open Source and Discord Servers consisting of High ambitioned programmers and their creative ideas which played a certain role in paving my way forward into Tech more and more. So, I will close the paragraph now by telling you a secret about me, I love Animes! */

#intro{
position: absolute;
width: 918px;
height: 225px;
left: 236px;
top: 230px;

font-family: RedHatText;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;
}

/* CURRENTLY WORKING ON */

#currently-working-on{
position: absolute;
width: 508px;
height: 53px;
left: 235px;
top: 549px;

font-family: RedHatText;
font-style: italic;
font-weight: 500;
font-size: 40px;
line-height: 53px;

color: #2094D6;
}

/* PLANNING TO WORK ON */

#planning-to-work-on{
position: absolute;
width: 477px;
height: 53px;
left: 236px;
top: 725px;

font-family: RedHatText;
font-style: italic;
font-weight: 500;
font-size: 40px;
line-height: 53px;
/* identical to box height */
color: #259CCF;
}
    
/* - Sign Language Translator */
#plan1{
position: absolute;
width: 390px;
height: 34px;
left: 236px;
top: 810px;

font-family: RedHatText;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 34px;

color: #FFFFFF;
text-decoration: none;
}

/* - Python Chat Application */

#curr1{
position: absolute;
width: 303px;
height: 34px;
left: 235px;
top: 645px;

font-family: RedHatText;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 34px;

color: #FFFDFD;
text-decoration: none;
}

/* - Portfolio Website */

#curr2{
position: absolute;
width: 270px;
height: 34px;
left: 235px;
top: 680px;

font-family: RedHatText;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 34px;

color: #FFFFFF;
text-decoration: none;
}
/* READ MORE */

#read-more{
position: absolute;
width: 166px;
height: 28px;
left: 638px;
top: 880px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
/* keyboard_arrow_down-24px 1 */

#arrow-down-up1{
position: absolute;
width: 76px;
height: 67px;
left: 660px;
top: 910px;

}
/* keyboard_arrow_down-24px 2 */

#arrow-down-up2{
position: absolute;
width: 76px;
height: 67px;
left: 660px;
top: 920px;
}

/* PROJECTS */

#projects{
position: absolute;
width: 198px;
height: 48px;
left: 606px;
top: -20px;

font-family: RedHatText;
font-style: italic;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */


color: #1D9CE4;
}
/* Rectangle 2 */

.middle{
position: absolute;
width: 1401px;
height: 1076px;
left: 25px;
top: 988px;

background: #202C36;
border-radius: 53px;
}

/* chatbot-4071274_640 1 */

#proj1-pic{
position: absolute;
width: 164px;
height: 124px;
left: 137px;
top: 80px;

/* background: url(chatbot-4071274_640.jpg); */
}

/* Twitter Bot */

#proj1{
position: absolute;
width: 259px;
height: 60px;
left: 337px;
top: 70px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}

/* An early version Twitter bot to automatically reply tweets associated with a certain keyword. */

#proj1-about{
position: absolute;
width: 630px;
height: 58px;
left: 337px;
top: 120px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}


/* Chat App */

#proj2{
position: absolute;
width: 133px;
height: 44px;
left: 891px;
top: 215px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #FFFFFF;
}


/* chat-2389223_640 1 */

#proj2-pic{
position: absolute;
width: 140px;
height: 139px;
left: 1062px;
top: 215px;

background: url(chat-2389223_640.png);
}


/* A portrait of Python WebApp to chat with strangers */

#proj2-about{
position: absolute;
width: 501px;
height: 29px;
left: 523px;
top: 265px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}


/* A safe password manager built in Python. */

#proj3-about{
position: absolute;
width: 450px;
height: 33px;
left: 337px;
top: 410px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}


/* secure-computer-4530142_640 1 */

#proj3-pic{
position: absolute;
width: 175px;
height: 127px;
left: 137px;
top: 370px;

background: url(secure-computer-4530142_640.png);
}

/* Password Manager */

#proj3{
position: absolute;
width: 277px;
height: 44px;
left: 337px;
top: 360px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #FFFFFF;
}

/* keyboard_arrow_right-24px 1 */

#right-arrow1-up{
position: absolute;
width: 106px;
height: 97px;
left: 1302px;
top: 220px;
}


/* keyboard_arrow_right-24px 3 */

#right-arrow2-up{
position: absolute;
width: 106px;
height: 97px;
left: 1285px;
top: 220px;
}

#more1{
position: absolute;
top: 235px;
left: 1280px;
font-size: 20px;
color: #FFFFFF;
transform: rotate(90deg);
}

/* JOURNAL */

#journal{
position: absolute;
width: 181px;
height: 48px;
left: 625px;
top: 470px;

font-family: RedHatText;
font-style: italic;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */


color: #1D9CE4;
}


/* How much of Maths is used in Programming? Well, It actually depends on which side of Programming you are! */

#jour1-about{
position: absolute;
width: 845px;
height: 58px;
left: 223px;
top: 585px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #CCC4C4;
}


/* The questionable destiny of Maths in Programming. */

#jour1{
position: absolute;
width: 685px;
height: 40px;
left: 220px;
top: 540px;

font-family: RedHatText;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
/* identical to box height */


color: #FFFFFF;
}


/* functions-24px 1 */

#jour1-pic{
position: absolute;
width: 80px;
height: 92px;
left: 133px;
top: 570px;
}

/* A vice journey into the world of Hacking. */

#jour2{
position: absolute;
width: 532px;
height: 40px;
left: 220px;
top: 670px;

font-family: RedHatText;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
/* identical to box height */


color: #FFFFFF;
}

/* Let me compare the technologies for you and then I will show why can’t they be compared. */
#jour2-about{
position: absolute;
width: 887px;
height: 58px;
left: 223px;
top: 715px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #CCC3C3;
}
/* warning-24px 1 */

#jour2-pic{
position: absolute;
width: 78px;
height: 79px;
left: 133px;
top: 700px;
}

/* Why is X not better than Y? */

#jour3{
position: absolute;
width: 600px;
height: 40px;
left: 223px;
top: 790px;

font-family: RedHatText;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
/* identical to box height */


color: #FFFFFF;
}
/* train-24px 1 */
#jour3-pic{
position: absolute;
width: 95px;
height: 80px;
left: 125px;
top: 825px;
}

/* Why unethical hacking should be prohibited and what are the extent of their consequences, everything from the eye of an ex-hacker. */
#jour3-about{
position: absolute;
width: 878px;
height: 29px;
left: 223px;
top: 835px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #CCC3C3;
}

/* keyboard_arrow_right-24px 2 */


position: absolute;
width: 106px;
height: 97px;
left: 1282px;
top: 1254px;



/* keyboard_arrow_right-24px 4 */


position: absolute;
width: 106px;
height: 97px;
left: 1282px;
top: 1795px;




/* mail-24px 1 */


position: absolute;
width: 44px;
height: 34px;
left: 796px;
top: 2179px;



/* STAY CONNECTED */


position: absolute;
width: 174px;
height: 29px;
left: 628px;
top: 2140px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* GitHub-Mark-Light-64px 2 */


position: absolute;
width: 30.93px;
height: 32.1px;
left: 604px;
top: 2185px;

background: url(GitHub-Mark-Light-64px.png);
transform: rotate(-0.18deg);


/* instagram 2 */


position: absolute;
width: 35px;
height: 30px;
left: 652px;
top: 2184px;

background: #FFFBFB;


/* YT 2 */


position: absolute;
width: 37px;
height: 30px;
left: 697px;
top: 2183px;

background: url(YT.png);


/* Discord-Logo-White 2 */


position: absolute;
width: 46px;
height: 32px;
left: 745px;
top: 2182px;

background: url(Discord-Logo-White.png);


/* ABOUT */


position: absolute;
width: 68px;
height: 29px;
left: 1043px;
top: 2162px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #F1DFDF;



/* WEEKLIES */


position: absolute;
width: 99px;
height: 29px;
left: 1142px;
top: 2162px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #F0E5E5;



/* CONTACT */


position: absolute;
width: 91px;
height: 29px;
left: 1270px;
top: 2162px;

font-family: Rambla;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #F7F4F4;
